#redSlider .thumb {
    -fx-background-color: #f00;
}
#greenSlider .thumb {
    -fx-background-color: #0f0;
}
#blueSlider .thumb {
    -fx-background-color: #00f;
}
#hueSlider .track {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%,
            #f00 0%, #f0f 17%, #00f 33%, #0ff 50%, #0f0 67%, #ff0 83%, #f00 100%);
}